 .u-section-1 {
  background-image: url("images/Dlaba-Background-122.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 543px;
  margin: 135px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 543px;
  margin: 11px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 64px;
  height: 64px;
  margin: 23px auto 60px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-rotation-parent-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 129px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 43.7% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }
} .u-section-2 {
  background-image: url("images/Dlaba-Background-11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 810px;
}

.u-section-2 .u-group-elements-1 {
  width: 336px;
  min-height: 63px;
  height: auto;
  margin: 0 auto 0 -92px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 0 auto 0 175px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: -43px auto 0 92px;
}

.u-section-2 .u-icon-1 {
  width: 126px;
  height: 35px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -15px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 86px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 424px;
  grid-gap: 35px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/Dlaba-web-element-phone-19.png");
  background-position: 2.55% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  margin: 12px 147px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/Dlaba-web-element-mail-20.png");
  background-position: 0.95% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 12px 147px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/Dlaba-web-element-locatio-21.png");
  background-position: 0.96% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  margin: 12px 147px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: url("images/Dlaba-web-element-222.png");
  background-position: 2.68% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-2 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 500;
  margin: 12px 147px 0 0;
}

.u-section-2 .u-text-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 399px 0 9px;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px 0 0 10px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 567px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 13px;
}

.u-section-2 .u-form-1 {
  background-image: none;
  --radius: 30px;
  height: 482px;
  width: 510px;
  margin: 0;
}

.u-section-2 .u-text-12 {
  margin-left: 0;
  font-size: 1.5rem;
}

.u-section-2 .u-input-1 {
  font-size: 0.875rem;
  height: 55px;
  --radius: 29px;
}

.u-section-2 .u-input-2 {
  font-size: 0.875rem;
  height: 55px;
  --radius: 29px;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  font-size: 0.875rem;
  height: 55px;
  --radius: 29px;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-input-4 {
  font-size: 0.875rem;
  --radius: 29px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,51,153,0.25);
  padding: 17px 73px 17px 72px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 517px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 47px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 47px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 47px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 47px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 33px;
    margin-right: 271px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-2 .u-form-1 {
    width: 410px;
  }

  .u-section-2 .u-input-1 {
    --radius: 20px;
  }

  .u-section-2 .u-input-2 {
    --radius: 20px;
  }

  .u-section-2 .u-input-3 {
    --radius: 20px;
  }

  .u-section-2 .u-input-4 {
    --radius: 20px;
    height: 55px;
  }

  .u-section-2 .u-btn-1 {
    --radius: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: -93px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 34px;
    margin-right: 187px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-form-1 {
    height: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 291px;
    min-height: 56px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-form-1 {
    height: 284px;
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}